{% extends 'base.html.twig' %}

{% block title %}New Institution{% endblock %}

{% block body %}
    <h1>Create new Institution</h1>

    {{ include('institution/_form.html.twig') }}

    <a href="{{ path('institution_index') }}">back to list</a>
{% endblock %}
