<form method="post" action="{{ path('line_meal_delete', {'id': line_meal.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ line_meal.id) }}">
    <button class="btn">Delete</button>
</form>
